body {
    background: rgb(150, 135, 135);
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 200vh;
    position: relative;
}

.module {
    width: 500px;
    height: 200vh;
    background: url('./bj.jpg') no-repeat center center;
    background-size: cover;
    padding: 24px 16px 16px 16px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.2s;
    position: relative;
    overflow: hidden;
}

.module:hover {
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.16);
}

.banner-img {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    z-index: 2;
    /* box-shadow: 0px 0px 10px black; */

}
